<div class="error-outer-container">
  <div class="error-container">
    <span id="error-title">ERROR</span>
    <span id="error-message">{{givenErrorContent}}</span>
    <button class="back-to-home" (click)="navigateToHome()">
      <span>BACK TO HOME</span>
    </button>
  </div>
</div>
