.error-outer-container {
  display: flex;
  justify-content: center;
  width: calc(100vw - 300px);
}

.error-container {
  margin-top: 5rem;
  padding: 2rem 5rem;
  background-color: #202020;
  box-shadow: 0 0 5px 3px #282828;
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  -webkit-user-select: none;
}

#error-title {
  font-size: 1.3em;
  color: #DFDFDF;
  font-weight: 600;
  margin-bottom: 3rem;
}

#error-message {
  font-size: 1.15em;
  color: #DFDFDF;
  font-weight: 400;
}

.back-to-home {
  margin-top: 3rem;
  padding: 0.5rem 4rem;
  background-color: #d23d3d;
  border: 0;
  border-radius: 20px;
  transition: all .3s ease;
}

.back-to-home span {
  color: white;
  font-size: 1.3em;
}

.back-to-home:hover {
  background-color: #de4646;
}

.back-to-home:focus {
  outline: 0;
}
