<div class="cloud-file-preview">
  <div class="cloud-file-preview-titlebar">
    <div class="cloud-file-preview-title">
      <span id="cloud-file-title-label">Title:</span>
      <span id="cloud-file-title-display">{{fileName}}</span>
    </div>
    <div class="cloud-file-title-actions-container">
      <ul id="cloud-actions-list">
        <li class="cloud-action" (click)="navigateTo('rename')">
          <i class="material-icons">edit</i>
          <span>rename</span>
        </li>
        <li class="cloud-action" (click)="navigateTo('share')">
          <i class="material-icons">person_add</i>
          <span>share</span>
        </li>
        <li class="cloud-action" (click)="navigateTo('shareLink')">
          <i class="material-icons">link</i>
          <span>get shareable link</span>
        </li>
        <li class="cloud-action" (click)="navigateTo('stopSharing')">
          <i class="material-icons">person_remove</i>
          <span>stop sharing</span>
        </li>
        <li class="cloud-action" (click)="navigateTo('details')">
          <i class="material-icons">info</i>
          <span>view details</span>
        </li>
        <li class="cloud-action" (click)="navigateTo('delete')">
          <i class="material-icons">delete</i>
          <span>delete</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="cloud-file-preview-content">
    <textarea id="cloud-file-preview-area" readonly>{{fileContent}}</textarea>
  </div>
</div>
