.cloud-file-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
}

.cloud-file-preview-titlebar {
  height: 4rem;
  width: calc(100vw - 300px);
  background-color: #272727;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.cloud-file-preview-title {
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  justify-content: flex-start;
  justify-self: flex-start;
}

#cloud-file-title-label, #cloud-file-title-display {
  color: lightgray;
  font-size: 1.3em;
  font-weight: 600;
}

#cloud-file-title-label {
  margin-right: 2rem;
}

.cloud-file-title-actions-container {
  display: flex;
}

#cloud-actions-list {
  list-style-type: none;
  margin: 0 4rem 0 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.cloud-action {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  transition: all .15s ease;
  border-radius: 5px;
  color: lightgray;
}

.cloud-action i {
  font-size: 1.5em;
  margin-right: 1rem;
}

.cloud-action span {
  font-size: 1.1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cloud-action:hover {
  background-color: #4c4c4c;
}

.cloud-file-preview-content {
  margin: 2rem 5rem 2rem 2rem;
}

#cloud-file-preview-area {
  width: calc(100vw - 300px - 7rem);
  min-width: 20rem;
  min-height: 15rem;
  border-radius: 5px;
  background-color: #202020;
  border: 0;
  padding: 1rem;
  color: lightgray;
  font-size: 1.2em;
}

#cloud-file-preview-area:focus {
  outline: 0;
}

.preview-window {
  position: fixed;
  display: flex;
  align-self: center;
  justify-self: center;
  width: 10rem;
  height: 10rem;
  background-color: red;
}


