<div class="cloud-container" (contextmenu)="$event.preventDefault();">
  <div class="cloud-title-container">
    <div class="cloud-path-container">
      <span id="cloud-path-title">Path:</span>
      <div id="cloud-path-list">
        <div class="cloud-path-element" *ngFor="let folder of pathObject">
          <span class="cloud-path-separator">/</span>
          <span class="cloud-path-element-label" (click)="navigateToFolder(folder.id, 'path')">{{folder.name}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="cloud-folder-container">
    <div class="cloud-element-title-bar">
      <span>FOLDERS</span>
    </div>
    <ul id="folder-list">
      <li class="folder-element" *ngFor="let folder of folderObject"
          (click)="selectFolderElements(folder.id); closeFolderContextMenu(); closeFileContextMenu();"
          (dblclick)="navigateToFolder(folder.id, 'view')" id={{folder.id}}
          (contextmenu)="openFolderContextMenu($event); selectFolder(folder.id)">
        <i class="material-icons" [ngStyle]="{'color': getColorByFolderObject(folder)}">{{folderMap.get(folder.id)}}</i>
        <span>{{folder.name}}</span>
      </li>
    </ul>
  </div>
  <div class="cloud-file-container">
    <div class="cloud-element-title-bar">
      <span>FILES</span>
    </div>
    <ul id="file-list">
      <li class="file-element" *ngFor="let file of fileObject"
          (click)="selectFileElements(file.id); closeFolderContextMenu(); closeFileContextMenu();"
          (dblclick)="previewFile(file.id)" id={{file.id}}
          (contextmenu)="openFileContextMenu($event); selectFile(file.id)">
        <i class="material-icons">{{getMaterialNameByType(file.type)}}</i>
        <span>{{file.name}}</span>
      </li>
    </ul>
  </div>
  <div class="cloud-info-container">


  </div>
</div>

<div id="folder-context-menu" (contextmenu)="$event.preventDefault();">
  <ul id="folder-context-list">
    <li class="folder-context-element">
      <i class="material-icons context-icon">folder_open</i>
      <span>open</span>
    </li>
    <li class="folder-context-element">
      <i class="material-icons context-icon">person_add</i>
      <span>share with</span>
    </li>
    <li class="folder-context-element">
      <i class="material-icons context-icon">link</i>
      <span>get shareable link</span>
    </li>
    <li class="folder-context-element">
      <i class="material-icons context-icon">person_remove</i>
      <span>stop sharing</span>
    </li>
    <li class="folder-context-element">
      <i class="material-icons context-icon">edit</i>
      <span>rename</span>
    </li>
    <li class="folder-context-element">
      <i class="material-icons context-icon">keyboard_arrow_right</i>
      <span>move to</span>
    </li>
    <li class="folder-context-element" (mouseenter)="showContextColorChooser();"
        (mouseleave)="hideContextColorChooser();" id="context-color-element">
      <div class="context-color-title-container">
        <i class="material-icons context-icon">color_lens</i>
        <span>change color <i class="material-icons">keyboard_arrow_right</i></span>
      </div>
      <ul id="context-choose-colors">
        <li class="context-color-choose-display" *ngFor="let color of folderColors" [ngStyle]="{'background-color': color}"></li>
      </ul>
    </li>
    <li class="folder-context-element">
      <i class="material-icons context-icon">info</i>
      <span>view details</span>
    </li>
    <li class="folder-context-element">
      <i class="material-icons context-icon">delete</i>
      <span>delete</span>
    </li>
  </ul>
</div>

<div id="file-context-menu" (contextmenu)="$event.preventDefault();">
  <ul id="file-context-list">
    <li class="file-context-element" (click)="previewSelectedFile()">
      <i class="material-icons context-icon">insert_drive_file</i>
      <span>open</span>
    </li>
    <li class="file-context-element">
      <i class="material-icons context-icon">cloud_download</i>
      <span>download</span>
    </li>
    <li class="file-context-element">
      <i class="material-icons context-icon">person_add</i>
      <span>share with</span>
    </li>
    <li class="file-context-element">
      <i class="material-icons context-icon">link</i>
      <span>get shareable link</span>
    </li>
    <li class="file-context-element">
      <i class="material-icons context-icon">person_remove</i>
      <span>stop sharing</span>
    </li>
    <li class="file-context-element">
      <i class="material-icons context-icon">edit</i>
      <span>rename</span>
    </li>
    <li class="file-context-element">
      <i class="material-icons context-icon">keyboard_arrow_right</i>
      <span>move to</span>
    </li>
    <li class="file-context-element">
      <i class="material-icons context-icon">info</i>
      <span>view details</span>
    </li>
    <li class="file-context-element">
      <i class="material-icons context-icon">delete</i>
      <span>delete</span>
    </li>
  </ul>
</div>
