.cloud-title-container {
  height: 4rem;
  width: calc(100vw - 300px);
  background-color: #272727;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.cloud-path-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-flow: nowrap;
}

#cloud-path-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
}

#cloud-path-title {
  display: flex;
  align-self: center;
  margin-right: 1.5rem;
  font-weight: 800;
  font-size: 1.2em;
  -webkit-user-select: none;
  color: white;
}

.cloud-path-element {
  overflow: hidden;
  overflow-x: auto;
}

.cloud-path-element-label, .cloud-path-separator {
  padding: 0.15rem 0.5rem;
  -webkit-user-select: none;
  color: white;
}

.cloud-path-element-label {
  font-size: 1.2em;
  border-radius: 5px;
  transition: all .2s ease;
}

.cloud-path-element:hover {
}

.cloud-path-element-label:hover {
  background-color: #ababab;
  color: #2f2f2f;
}

.cloud-path-separator {
  margin: 0;
  font-size: 1.3em;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.cloud-folder-container {

}

.cloud-element-title-bar {
  height: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2rem;
  margin: 0 4rem 0 1rem;
  border-bottom: solid 2px darkgray;
}

.cloud-element-title-bar span {
  font-size: 1.2em;
  font-weight: 600;
  color: whitesmoke;
  -webkit-user-select: none;
}

#folder-list, #file-list {
  list-style-type: none;
  margin: 0 4rem 0 1rem;
  padding: 1rem;
}

.folder-element:first-child, .file-element:first-child{
  border-top: solid 2px #707070;
}

.folder-element, .file-element {
  padding: 1rem 2rem;
  width: calc(100% - 4rem);
  border-bottom: solid 2px #707070;
  transition: all .15s ease;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.folder-element i, .file-element i {
  color: lightgray;
  font-size: 1.8em;
  margin-right: 1.5rem;
  -webkit-user-select: none;
}

.folder-element span, .file-element span {
  color: lightgray;
  font-size: 1.3em;
  -webkit-user-select: none;
}

.folder-element-selected, .file-element-selected {
  background-color: #1f4287;
}

#folder-context-menu, #file-context-menu {
  position: fixed;
  z-index: 1;
  background-color: #272727;
  padding: 1px;
  width: max-content;
  border: solid 1px lightgray;
  border-radius: 10px;
  display: none;
}

#folder-context-list, #file-context-list {
  list-style-type: none;
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}

.folder-context-element, .file-context-element {
  display: flex;
  align-items: center;
  -webkit-user-select: none;
  padding: 0.5rem 0;
  color: lightgray;
  transition: all .15s ease;
  min-width: 10rem;
  max-width: 15rem;
  cursor: pointer;
}

.context-icon {
  font-size: 1.6em;
  margin-right: 3rem;
  transition: all .15s ease;
}

.folder-context-element span, .file-context-element span {
  font-size: 1em;
  font-weight: 600;
  justify-self: flex-end;
  text-decoration: none;
  text-align: right;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.folder-context-element span i, .file-context-element span i {
  margin-left: 1rem;
}

.folder-context-element:hover, .file-context-element:hover {
  color: #365aa5;
}

.context-color-title-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

#context-color-element {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

#context-choose-colors {
  list-style-type: none;
  margin: 1rem 1rem 1rem 1.5rem;
  padding: 0.5rem;
  display: none;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.context-color-choose-display {
  margin: 0.2rem;
  min-width: 1.5rem;
  max-width: 1.5rem;
  min-height: 1.5rem;
  max-height: 1.5rem;
  transition: all .15s ease;
}

.context-color-choose-display:hover {
  border-radius: 5px;
}
