.room-edit-permitted-users {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  list-style-type: none;
  margin: 0;
  border-bottom: 1px solid #5e5e5e;
  border-top: 1px solid #5e5e5e;
  padding: 1rem 0;
  justify-self: flex-end;
  min-width: 12rem;
}

.room-edit-permitted-users li {
  color: whitesmoke;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0.25rem 0;
  min-width: 12rem;
  justify-content: space-between;
  -webkit-user-select: none;
}

.room-edit-permitted-users li span {
  max-width: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.2em;
  margin-right: 2rem;
}

.room-edit-permitted-users li i {
  font-size: 1.7em;
  padding: 0.1rem;
  border-radius: 0.6rem;
  transition: all .2s ease;
  cursor: pointer;
  margin-left: 2rem;
}

.room-edit-permitted-users li i:hover {
  background-color: #2f2f2f;
}

