<div class="room-area">
  <div class="room-window">
    <div class="room-window-title-bar">
      <span class="room-window-title">Edit room: {{roomName}}</span>
    </div>
    <div class="room-window-main-area">
      <div class="room-window-main-area-element">
        <span>Name:</span>
        <input type="text" #newName [value]="roomName">
      </div>
      <div class="room-window-main-area-element">
        <span>Room Author:</span>
        <span>{{getAuthorName()}}</span>
      </div>
      <div class="room-window-main-area-element" *ngIf="permittedUsers.length > 0">
        <span>Permitted users</span>
        <ul class="room-edit-permitted-users">
          <li *ngFor="let user of permittedUsers">
            <span>{{user.name}}</span>
            <i class="material-icons" (click)="removePermittedUser(user)">close</i>
          </li>
        </ul>
      </div>
      <div class="room-window-main-area-element" *ngIf="restUsers.length > 0">
        <span>Other users</span>
        <ul class="room-edit-permitted-users">
          <li *ngFor="let user of restUsers">
            <span>{{user.name}}</span>
            <i class="material-icons" (click)="addUserToPermittedUsers(user)">keyboard_arrow_up</i>
          </li>
        </ul>
      </div>
    </div>
    <div class="room-window-button-area">
      <ul class="room-window-button-list">
        <li class="icn-button" routerLink="/room/{{givenRoomId}}/view" routerLinkActive="active">
          <span>Cancel</span>
        </li>
        <li class="icn-button" (click)="editRoom(newName.value)">
          <span>Update</span>
        </li>
      </ul>
    </div>
  </div>
</div>
