<div class="room-area">
  <div class="room-window">
    <div class="room-window-title-bar">
      <span class="room-window-title">Delete room: {{roomName}}</span>
    </div>
    <div class="room-window-main-area">
      <div class="room-window-main-area-element">
        <span>Do you really wanna delete that room?</span>
      </div>
      <div class="room-window-button-area">
        <ul class="room-window-button-list">
          <li class="icn-button" routerLink="/room/{{givenRoomId}}/view">
            <span>Cancel</span>
          </li>
          <li class="icn-button" (click)="deleteRoom()">Confirm</li>
        </ul>
      </div>
    </div>
  </div>
</div>
