<div class="room-area">
  <div class="room-window">
    <div class="room-window-title-bar">
      <span class="room-window-title">Create room:</span>
    </div>
    <div class="room-window-main-area">
      <div class="room-window-main-area-element">
        <span>Name:</span>
        <input type="text" #roomName>
      </div>
    </div>
    <div class="room-window-button-area">
      <ul class="room-window-button-list">
        <li class="icn-button" routerLink="/home" routerLinkActive="active">
          <span>Cancel</span>
        </li>
        <li class="icn-button" (click)="createRoom(roomName.value)">
          <span>Create</span>
        </li>
      </ul>
    </div>
  </div>
</div>
