<div class="cloud-file-window">
  <div class="cloud-file-window-container">
    <div class="cloud-file-window-title">
      <span>Rename File</span>
      <span id="cloud-file-window-title">{{cloudFile.title}}</span>
    </div>
    <div class="cloud-file-main-area">
      <div class="cloud-file-main-area-section">
        <span>New name:</span>
        <input type="text" id="new-name" #newName>
      </div>
    </div>
    <div class="cloud-file-window-button-area">
      <div class="cloud-file-button" (click)="navigateToPreview()">
        <span>Back to preview</span>
      </div>
      <div class="cloud-file-button" (click)="saveNewName(newName.value)">
        <span>Save</span>
      </div>
    </div>
  </div>
</div>
