.type-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

.type-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  padding: 1.5rem;
  margin: 0;
}

.type-container ul li {
  padding: 1.5rem;
  margin: 0.25rem 0;
  transition: all .2s ease;
  border-radius: 10px;
  width: 100%;
}

.type-container ul li:hover {
  border: 2px solid #bfbfbf;
}

.remove-theme-element {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  margin: 0;
  transition: .2s;
  border-radius: 2rem;
  cursor: pointer;
  color: whitesmoke;
}

.remove-theme-element:hover {
  background-color: #5e5e5e;
}

#remove-theme-element-container {
  display: flex;
  justify-content: center;
}

.beautify-json-area {
  display: flex;
  justify-content: center;
}
