<div class="room-area">
  <div class="room-window">
    <div class="room-window-title-bar">
      <span class="room-window-title">Create room element:</span>
    </div>
    <div class="room-window-main-area">
      <div class="room-window-main-area-element">
        <span>Choose type:</span>
        <select #selectType (change)="''" class="room-window-main-area-element-select" #typeSelect>
          <option value="component">Component</option>
          <option value="theme">Theme</option>
        </select>
      </div>
      <div class="room-window-main-area-element">
        <span>Name:</span>
        <input type="text" #componentName>
      </div>
      <div class="room-window-main-area-element">
        <span>Thumbnail:</span>
        <input id="thumbnail-component" type="file" #thumbnail accept="image/png, image/jpg">
        <label for="thumbnail-component">
          <i class="material-icons">folder</i>
        </label>
      </div>
      <div [ngSwitch]="selectType.value">
        <div class="type-container" *ngSwitchCase="'component'">
          <div class="room-window-main-area-element">
            <span>Type:</span>
            <select class="room-window-main-area-element-select" #selectComponentType id="select-component-type" (change)="
            loadComponentInstructions(selectComponentType.value);
            componentBase = {};
            selectedType = selectComponentType.value;">
              <option disabled selected value></option>
              <option *ngFor="let type of types" [value]="type">{{type}}</option>
            </select>
          </div>
          <div *ngIf="getInputs()">
            <div class="room-window-main-area-element" *ngFor="let input of getInputs()">
              <span>{{input.label}}</span>
              <input [type]="input.type" [value]="input.value" (change)="setInput(input.key)" [id]="input.key">
            </div>
          </div>
        </div>
        <div class="type-container" *ngSwitchCase="'theme'">
          <ul>
            <li *ngFor="let themeElement of themeElements">
              <div class="room-window-main-area-element">
                <span>id:</span>
                <span id="element-id">{{themeElement.id}}</span>
              </div>
              <div class="room-window-main-area-element">
                <span>sequence:</span>
                <input type="number" class="room-window-input-element" #sequenceInput min="0" (keyup)="setThemeObjectValue(themeElement.id, 'sequence', sequenceInput.value)">
              </div>
              <div class="room-window-main-area-element">
                <span>delay: [ms]</span>
                <input type="number" class="room-window-input-element" #delayInput min="0" (keyup)="setThemeObjectValue(themeElement.id, 'delay', delayInput.value)">
              </div>
              <div class="room-window-main-area-element">
                <span>component:</span>
                <select id="component-select" class="room-window-main-area-element-select"  (change)="setThemeObjectValue(themeElement.id, 'componentId', themeElementComponentSelector.value)" #themeElementComponentSelector>
                  <option disabled selected value></option>
                  <option *ngFor="let roomComponent of roomComponents" [value]="roomComponent.id">{{roomComponent.name}}</option>
                </select>
              </div>
              <div class="room-window-main-area-element">
                <span>Component content:</span>
                <textarea #themeElementContent></textarea>
              </div>
              <div class="room-window-main-area-element beautify-json-area">
                <div class="icn-button" (click)="beautifyJSON(themeElement.id, themeElementContent)">
                  <i class="material-icons">done</i>
                </div>
              </div>
              <div class="room-window-main-area-element" id="remove-theme-element-container">
                <i class="material-icons remove-theme-element" (click)="deleteThemeElement(themeElement.id)">delete</i>
              </div>
            </li>
          </ul>
          <div class="add-theme-element-section">
            <div class="icn-button" (click)="addThemeElement()">
              <span>+</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="room-window-button-area">
      <ul class="room-window-button-list">
        <li class="icn-button" routerLink="/room/{{givenRoomId}}/view" routerLinkActive="active">
          <span>Cancel</span>
        </li>
        <li class="icn-button" (click)="createRoomElement(typeSelect.value, componentName.value, thumbnail.files)">
          <span>Create</span>
        </li>
      </ul>
    </div>
  </div>
</div>
