<div class="login-container">
  <div class="login-canvas">
    <span id="login-title">Login:</span>
    <div class="cred-container">
      <span>Email: </span>
      <input type="text" class="login-input" id="username-input" #usernameInput>
    </div>
    <div class="cred-container">
      <span>Password: </span>
      <input type="password" class="login-input" id="password-input" #passwordInput>
    </div>
    <div class="login-submit">
      <span (click)="submit(usernameInput.value, passwordInput.value)">Login</span>
    </div>
  </div>
</div>
