.login-container {
  width: calc(100vw - 300px);
  height: 20rem;
  position: absolute;
  top: 3rem;
  left: 0;
  display: flex;
  justify-content: center;
}

.login-canvas {
  padding: 3rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #4c4c4c;
  border-radius: 10px;
}

#login-title {
  font-size: 1.5em;
  color: whitesmoke;
  font-weight: 600;
  margin-bottom: 2rem;
}

.cred-container {
  margin: 0 0 2rem 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}

.cred-container span {
  font-size: 1.3em;
  color: whitesmoke;
  margin: 6px 1.5rem 0 0;
}

.login-input {
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #202020;
  width: 20rem;
  border: 0;
  color: white;
  font-size: 1.3em;
}

.login-input:focus {
  outline: 0;
}

.login-submit {
  display: flex;
  justify-content: center;
}

.login-submit span {
  font-size: 1.3em;
  color: whitesmoke;
  padding: 0.5rem 1.8rem;
  border-radius: 5px;
  background-color: #1d3b77;
  transition: all .2s ease;
  cursor: pointer;
}

.login-submit span:hover {
  background-color: #1f4080;
}
