<div class="call-component-window-container">
  <div class="call-component-window">
    <div class="call-component-window-title-bar">
      <span id="call-component-window-title">{{getComponentName()}}</span>
      <i class="material-icons" (click)="deleteComponent()">delete</i>
    </div>
    <div class="call-component-window-main-area">
      <div class="call-component-window-main-area-color" *ngIf="getColor()">
        <span>Color:</span>
        <input id="color-chooser" type="color" (change)="setColorValue($event)">
      </div>
      <div class="call-component-window-main-area-buttons" *ngIf="hasButtons()">
        <span class="call-area-title">Buttons:</span>
        <ul id="call-button-list">
          <li *ngFor="let button of getButtons()" (click)="setButtonValue(button.key, button.value)"
              class="call-button-element" alt="{{button.text}}">
            <span>{{button.text}}</span>
          </li>
        </ul>
      </div>
      <div class="call-component-window-main-area-inputs" *ngIf="hasInputs()">
        <span class="call-area-title">Inputs:</span>
        <ul id="call-input-list">
          <li *ngFor="let input of getInputs()" class="room-window-main-area-element">
            <span>{{input.text}}</span>
            <input [type]="input.type" (change)="setInputValue(input.key, $event)">
          </li>
        </ul>
      </div>
    </div>
    <div class="call-component-window-button-container">
        <div class="icn-button" id="call-send-button" (click)="sendCall(false)">
          <span>send</span>
        </div>
        <div class="icn-button" id="call-send-and-navigate-button" (click)="sendCall(true)">
          <span>send and go back</span>
        </div>
    </div>
  </div>
</div>
