.call-component-window-container {
  width: calc(100vw - 300px);
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.call-component-window {
  padding: 2rem;
  background-color: #202020;
  border-radius: 10px;
  min-width: 20rem;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.call-component-window-title-bar {
  display: flex;
  flex-direction: row;
  padding-bottom: 3rem;
  justify-content: space-between;
}

.call-component-window-title-bar i {
  display: flex;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  margin: 0;
  transition: .2s;
  border-radius: 50px;
  cursor: pointer;
}

.call-component-window-title-bar i:hover {
  background-color: #5e5e5e;
}

#call-component-window-title {
  color: whitesmoke;
  font-size: 1.2em;
  font-weight: 600;
  -webkit-user-select: none;
}

.call-component-window-main-area {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-bottom: 3rem;
}

.call-component-window-main-area-color {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0.5rem 0;
}

.call-component-window-main-area-color span {
  color: whitesmoke;
  font-size: 1.2em;
  font-weight: 600;
  -webkit-user-select: none;
}

.call-component-window-button-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0.5rem;
}

#color-chooser {
  cursor: pointer;
}

.call-area-title {
  font-size: 1.2em;
  color: whitesmoke;
  font-weight: 600;
  margin-bottom: 1rem;
  -webkit-user-select: none;
}

.call-component-window-main-area-buttons, .call-component-window-main-area-inputs {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}

#call-button-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 0.5;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.call-button-element {
  padding: 0.5rem 2.5rem;
  border-radius: 10px;
  background-color: #1d3b77;
  transition: all .15s ease;
  color: whitesmoke;
  font-weight: 600;
  font-size: 1.2em;
  margin: 0.4rem;
  width: 8rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

.call-button-element span {
  -webkit-user-select: none;
  text-wrap: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.call-button-element:hover {
  background-color: #1f4287;
}

#call-send-button, #call-send-and-navigate-button {
  padding: 0.6rem 5rem;
}

#call-input-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
  justify-content: center;
}

.room-window-input-element {
  margin: 0.25rem 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}

.room-window-input-element span {
  color: whitesmoke;
  font-size: 1.2em;
  -webkit-user-select: none;
}
