<div class="root">
  <div class="sidebar">
    <div class="sidebar-header">
      <div class="sidebar-profile-picture">
      </div>
      <div class="sidebar-title-container" routerLink="/profile/{{userId}}/view" routerLinkActive="active">
        <i *ngIf="!isLoggedIn()" class="material-icons" id="profile-avatar-spaceholder">person</i>
        <img *ngIf="isLoggedIn()" id="profile-avatar" src="{{getProfilePicture()}}">
      </div>
    </div>
    <div class="sidebar-button-section">
      <ul>
        <li class="sidebar-element sidebar-inactive" routerLink="/home" routerLinkActive="active">
          <i class="material-icons">home</i>
          <span>HOME</span>
        </li>
        <li class="sidebar-element sidebar-inactive" id="sidebar-room-dropdown-button"
            (click)="toggleSidebarDropdown('sidebar-room-dropdown', 'sidebar-room-dropdown-button')">
          <i class="material-icons">dashboard</i>
          <span>ROOMS</span>
          <i class="material-icons" id="sidebar-dropdown-button">expand_more</i>
        </li>
        <li id="sidebar-room-dropdown" class="sidebar-dropdown" hidden>
          <ul>
            <li class="sidebar-dropdown-element" routerLink="/room/create" routerLinkActive="active" *ngIf="isLoggedIn()">
              <i class="material-icons">add</i>
              <span>CREATE ROOM</span>
            </li>
            <li class="sidebar-dropdown-element" routerLink="/room/{{room.id}}/view" *ngFor="let room of getRoomDashBoardData()" routerLinkActive="active">
              <i class="material-icons">dashboard</i>
              <span>{{room.name}}</span>
            </li>
          </ul>
        </li>
        <li class="sidebar-element sidebar-inactive" routerLink="/cloud" routerLinkActive="active">
          <i class="material-icons">cloud</i>
          <span>CLOUD</span>
        </li>
        <!--<li class="sidebar-element sidebar-inactive" routerLink="/settings" routerLinkActive="active">
          <i class="material-icons">settings</i>
          <span>SETTINGS</span>
        </li>-->
      </ul>
    </div>
    <div id="sidebar-popup">
      <div class="sidebar-popup-area">
        <div class="sidebar-popup-title-container">
          <span id="sidebar-popup-title"></span>
          <i class="material-icons" id="sidebar-popup-close">close</i>
        </div>
        <div class="sidebar-popup-message-container">
          <span id="sidebar-popup-message"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="page">
    <router-outlet></router-outlet>
  </div>
</div>
