.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #272727;
  color: #DFDFDF;
  box-shadow: 9px 0px 25px -9px rgba(36,36,36,1);
  -webkit-user-select: none;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}

.sidebar-title-container {
  position: relative;
  top: 0;
  left: 0;
}

.sidebar-title-container:focus {
  outline: 0;
}

#profile-avatar-spaceholder, #profile-avatar {
  position: relative;
  top: 10px;
  left: 10px;
  max-height: 2.5rem;
  min-height: 2.5rem;
  max-width: 2.5rem;
  min-width: 2.5rem;
  border-radius: 2.5rem;
  font-size: 2.5em;
  transition: all .3s ease;
  cursor: pointer;
}

#profile-avatar-spaceholder:hover {
  background-color: #353535;
}

.sidebar-button-section {
  position: fixed;
  top: 4rem;
  left: -65px;
}

.sidebar-button-section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.sidebar-element {
  background-color: #1f4287;
  height: 55px;
  width: 325px;
  border-radius: 30px;
  line-height: 55px;
  margin: 20px 0 20px 0;
  transition: all .15s ease;
}

.sidebar-element:hover {
  transform: translateX(15px);
  background-color: #1d3b77;
}

.sidebar-element:focus {
  outline: 0;
}

.sidebar-element:hover > #sidebar-dropdown-button {
  transform: rotate(180deg)
}

.sidebar-element i {
  position: relative;
  float: left;
  left: 80px;
  top: 10px;
  font-size: 2em;
}

.sidebar-element span {
  position: relative;
  float: left;
  left: 100px;
  font-weight: 600;
}

.sidebar-active {
  transform: translateX(15px);
  background-color: #1d3b77;
}

.sidebar-active > #sidebar-dropdown-button {
  transform: rotate(180deg);
}

#sidebar-dropdown-button {
  position: relative;
  float: right;
  left: -15px;
  font-size: 2.2em;
  font-weight: 600;
  transition: all .2s ease;
}

.sidebar-dropdown ul {
  position: relative;
  list-style-type: none;
  margin-left: 0;
  padding: 0;
}

.sidebar-dropdown ul .sidebar-dropdown-element {
  background-color: #1f4287;
  height: 55px;
  width: 325px;
  border-radius: 30px;
  line-height: 55px;
  margin: 20px 0 20px -2rem;
  transition: all .15s ease;
}

.sidebar-dropdown ul .sidebar-dropdown-element:hover {
  background-color: #1d3b77;
  transform: translateX(15px);
}

.sidebar-dropdown ul .sidebar-dropdown-element i {
  position: relative;
  float: left;
  left: 7rem;
  top: 10px;
  font-size: 2em;
}

.sidebar-dropdown ul .sidebar-dropdown-element span {
  position: relative;
  float: left;
  left: 8rem;
  font-weight: 600;
}

.sidebar-dropdown ul .sidebar-dropdown-element:focus {
  outline: 0;
}

#sidebar-popup {
  position: fixed;
  bottom: calc(-8rem + 10px);
  left: 10px;
  transition: all .3s ease-in-out;
  border-radius: 0.5rem;
  background-color: #4c4c4c;
}

.sidebar-popup-area {
  min-height: 7rem;
  max-height: 7rem;
  min-width: 280px;
  max-width: 280px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;

}

.sidebar-popup-title-container {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#sidebar-popup-close {
  color: black;
  cursor: pointer;
  transition: all .2s ease;
}

#sidebar-popup-close:hover {
  font-size: 1.7em;
}

#sidebar-popup-title {
  font-size: 1.2em;
  font-weight: 800;
  color: whitesmoke;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
  display: block;
}

.sidebar-popup-message-container {
  padding: 0 0.5rem 0.5rem 0.5rem;
  overflow: hidden;
}

#sidebar-popup-message {
  font-size: 1em;
  font-weight: 500;
  display: block;
  word-wrap: break-word;
  width: 240px;
  white-space: normal;
  height: 3.2rem;
  text-overflow: ellipsis;
  color: whitesmoke;
}

.page {
  position: absolute;
  top: 0;
  left: 300px;
}
