.cloud-storage-container {
  width: calc(100vw - 300px);
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
}

.cloud-storage {
  margin-top: 2rem;
  padding: 2rem 2rem;
  background-color: #002651;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 16px 7px rgb(43, 43, 43);
  transition: all .3s ease;
}

.cloud-storage:hover {
  transform: translateY(-3px);
}

.cloud-storage span {
  color: white;
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: 1rem;
  -webkit-user-select: none;
}

progress {
  width: calc(100vw - 500px);
  height: 2.5rem;
  appearance: none;
  margin: 1rem 0;
}

progress::-webkit-progress-value {
  background-color: #ff304f;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}

progress::-webkit-progress-bar {
  background-color: #fdfdfd;
  border-radius: 2rem;
}

.last-calls-container {
  width: calc(100vw - 300px);
  display: flex;
  justify-content: center;
}

.last-calls {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  transition: all .3s ease;
}
