<div class="cloud-storage-container">
  <div class="cloud-storage">
    <span>Cloudstorage:</span>
    <progress max="100" value="33" id="cloud-storage-progress"></progress>
  </div>
</div>

<div class="last-calls-container">
  <div class="last-calls">

  </div>
</div>
