<div class="context-bar">
  <ul id="context-bar-list">
    <li routerLink="/room/{{givenRoomId}}/create" routerLinkActive="active">
      <i class="material-icons">add</i>
    </li>
    <li routerLink="/room/{{givenRoomId}}/edit" routerLinkActive="active">
      <i class="material-icons">edit</i>
    </li>
    <li routerLink="/room/{{givenRoomId}}/delete" routerLinkActive="active">
      <i class="material-icons">delete</i>
    </li>
  </ul>
</div>
<div class="room-container">
  <div class="components-container">
    <ul id="component-list">
      <li class="component-element" routerLink="/call/component/{{givenRoomId}}/{{roomElement.id}}" routerLinkActive="active" *ngFor="let roomElement of roomElements">
        <span title="{{roomElement.name}}">{{roomElement.name}}</span>
        <img [src]="'http://localhost:3000/api/thumbnail/image/'+roomElement.imagePath">
      </li>
    </ul>
  </div>
  <br>
  <div class="theme-container">
    <ul id="theme-list">
      <li class="theme-element" (click)="callTheme(theme)" *ngFor="let theme of themeElements">
        <span title="{{theme.label}}">{{theme.name}}</span>
        <img [src]="'http://localhost:3000/api/thumbnail/image/'+theme.imagePath">
      </li>
    </ul>
  </div>
  <div class="other-modules">
    <div class="other-modules-selection">
      <input type="hidden" #moduleSelection>
      <ul class="horizontal-select" id="others-select">
        <li (mouseup)="moduleSelection.value='reminder'">
          <span>reminder</span>
        </li>
        <li (mouseup)="moduleSelection.value='music'">
          <span>music</span>
        </li>
        <li (mouseup)="moduleSelection.value='notes'">
          <span>notes</span>
        </li>
      </ul>
    </div>

    <div class="module-container" [ngSwitch]="moduleSelection.value">
      <div *ngSwitchCase="'reminder'">
        <div class="reminder-element">
          <div class="reminder-container">
            <div class="reminder-input-container">
              <form autocomplete="off" (submit)="$event.preventDefault();">
                <input type="text" id="reminder-input-field" #reminderInputField>
                <i class="material-icons" id="reminder-send-button" (click)="addReminderElement(reminderInputField.value); reminderInputField.value = '';">send</i>
              </form>
            </div>
            <div class="reminder-list-container">
              <ul>
                <li *ngFor="let reminderElement of reminderElements" id="{{'reminder' + reminderElement}}">
                  <span>{{reminderElement.reminderContent}}</span>
                  <i class="material-icons" (click)='deleteReminderElement(reminderElement.id)'>chevron_right</i>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'notes'">
        <div class="notes-container">
          <textarea id="notes-textarea" (focusout)="saveNoteContent(notesTextArea.value)" #notesTextArea>{{notesText}}</textarea>
        </div>
      </div>
      <div *ngSwitchCase="'music'" id="music-case-container">
        <div class="music-container">
          <div class="music-search-container">
            <input type="text" id="music-search-input" #music_search_input>
            <i class="material-icons" id="music-search-send" (click)="sendMusicURL(music_search_input.value)">send</i>
          </div>
          <div class="music-playbar">
            <span id="music-time-played">0:35</span>
            <progress max="100" value="24" id="music-progress"></progress>
            <span id="music-all-time">1:00</span>
          </div>
          <div class="music-control-container">
            <div class="music-play-pause-button">
              <i class="material-icons">play_arrow</i>
            </div>
            <div class="music-stop-button">
              <i class="material-icons">stop</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
