.context-bar {
  z-index: 1;
  background-color: #272727;
  height: 3rem;
  width: calc(100% - 300px);
  position: fixed;
  top: 0;
  left: 300px;
  box-shadow: 0px 9px 25px -9px rgba(36,36,36,1);
}

#context-bar-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin: 0 2rem 0 0;
  padding-left: 2rem;
  align-items: center;
  overflow: hidden;
  height: 100%;
}

#context-bar-list li {
  border-radius: 25px;
  -webkit-user-select: none;
  margin-left: 1rem;
  transition: all .2s ease;
  align-self: center;
  cursor: pointer;
}

.context-bar ul li:hover {
  background-color: #353535;
}

.context-bar ul li:focus {
  outline: 0;
}

.context-bar ul li i {
  padding: 3px;
  color: #DFDFDF;
  font-size: 1.8em;
}

.room-container {
  margin: 5rem 3rem 3rem 3rem;
  width: calc(100vw - (300px + 6rem));
}

#component-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-flow: nowrap;
  border-bottom: solid;
  padding-bottom: 2rem;
  overflow: hidden;
  overflow-x: auto;
}

#component-list li {
  position: relative;
  min-width: 10rem;
  min-height: 10rem;
  max-width: 10rem;
  max-height: 10rem;
  border-radius: 10px;
  margin: 0 1.25rem 0 1.25rem;
  transition: all .2s ease;
  box-shadow: 0px 0px 25px 0px rgba(18,18,18,1);
  -webkit-user-select: none;
  cursor: pointer;
}

#component-list li:focus {
  outline: 0;
}

#component-list li span {
  font-weight: 600;
  -webkit-user-select: none;
  position: absolute;
  margin: 1rem 0 0 1rem;
  z-index: 1;
  display: inline-block;
  width: 8rem;
  font-size: 1.15em;
  color: #DFDFDF;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  transition: all .2s ease;
}

#component-list li img {
  pointer-events: none;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 10px;
}

#component-list li:hover {
  transform: translateY(-3px);
}

#component-list li:hover > span {
  transform: translateY(-3px);
}



.room-container br {
  height: 1px;
  border-radius: 1px;
  background-color: #333333;
  color: white;
  margin-top: 2rem;
}

#theme-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-flow: nowrap;
  border-bottom: solid;
  padding-bottom: 2rem;
  overflow: hidden;
  overflow-x: scroll;

}

#theme-list li {
  position: relative;
  min-width: 22.5rem;
  min-height: 10rem;
  max-width: 22.5rem;
  max-height: 10rem;
  border-radius: 10px;
  margin: 0 1.25rem 0 1.25rem;
  transition: all .2s ease;
  box-shadow: 0px 0px 25px 0px rgba(18,18,18,1);
  -webkit-user-select: none;
  cursor: pointer;

}

#theme-list li span {
  font-weight: 600;
  -webkit-user-select: none;
  position: absolute;
  margin: 1rem 0 0 1rem;
  z-index: 1;
  display: inline-block;
  width: 8rem;
  font-size: 1.15em;
  color: #DFDFDF;
  white-space: nowrap;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  transition: all .2s ease;
}

#theme-list li img {
  pointer-events: none;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 10px;
}

#theme-list li:hover {
  transform: translateY(-3px);
}

#theme-list li:hover > span {
  transform: translateY(-3px);
}

.other-modules-selection {
  display: flex;
  justify-content: center;
  flex-flow: row;
  width: calc(100vw - (300px + 4rem));
}

#others-select {
  margin-top: 2rem;
}

.reminder-element {
  display: flex;
  justify-content: center;
  flex-flow: row;
  width: calc(100vw - (300px + 4rem));
  padding: 2rem 0 0 0;
  -webkit-user-select: none;
}

.reminder-container {
  display: flex;
  justify-content: center;
  flex-flow: column;
  flex-wrap: nowrap;
}

.reminder-input-container {
  padding: 1.5rem 0 1.5rem 0;
  width: 23rem;
}

.reminder-input-container form {
  margin: 0;
  padding: 0;
}

#reminder-input-field {
  border: none;
  border-bottom: solid 1px grey;
  background-color: transparent;
  color: #DFDFDF;
  font-weight: 400;
  font-size: 1.15em;
  transition: all .2s ease;
  margin-right: 1.5rem;
  padding: 5px;
  width: 18rem;
}

#reminder-input-field:focus {
  outline: 0;
  border-bottom: solid 1px whitesmoke;
}

#reminder-send-button {
  float: right;
  color: #DFDFDF;
  font-size: 1.8em;
  padding: 8px;
  border-radius: 30px;
  transition: all .2s ease;
}

#reminder-send-button:hover {
  background-color: #4c4c4c;
  cursor: pointer;
}

.reminder-list-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0 5px 0 0;
  display: flex;
  flex-flow: column;
  height: 30rem;
  overflow-y: auto;
}

.reminder-list-container ul li {
  color: #DFDFDF;
  font-size: 1.15em;
  border-bottom: 1px solid #DFDFDF;
  width: 23rem;
  -webkit-user-select: none;
  padding: 15px 0 5px 0;
  overflow-y: hidden;
  min-height: 2rem;
  height: 2rem;
}

.reminder-list-container ul li span {
  float: left;
  display: flex;
  align-items: flex-start;
  padding: 0 0 5px 0;
  margin: 0 0 5px 0;
  line-height: 2.5rem;
  transition: all .1s ease;
  text-overflow: ellipsis;
  overflow-x: auto;
  width: 19rem;
  white-space: nowrap;
}

.reminder-list-container ul li:hover > span {
  transform: translateX(8px);
}

.reminder-list-container ul li i {
  color: #DFDFDF;
  font-size: 1.8em;
  border-radius: 30px;
  transition: all .2s ease;
  float: right;
  padding: 2px;
  margin: 0 0 5px 0;
}

.reminder-list-container ul li i:hover {
  color: white;
  background-color: #4c4c4c;
}

.notes-container {
  display: flex;
  justify-content: center;
  flex-flow: row;
  width: calc(100vw - (300px + 6rem));
  height: max-content;
  padding: 4rem 0 0 0;
  -webkit-user-select: none;
}

#notes-textarea {
  border-radius: 10px;
  border: none;
  background-color: #202020;
  color: #C2C2C2;
  padding: 15px;
  font-size: 1.4em;
  font-weight: 600;
  width: calc(100vw - 300px - 2rem);
  height: 100%;
  min-height: 20rem;
}

#notes-textarea:focus {
  outline: 0;
}

#music-case-container {
  display: flex;
  justify-content: center;
  width: calc(100vw - (300px + 3rem));
}

.music-container {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  width: calc(100vw - (300px + 6rem));
  height: max-content;
  -webkit-user-select: none;
  margin-top: 2rem;
  padding: 0.5rem 1rem 2rem 1rem;
  border-radius: 10px;
  background-color: #272727;
  width: max-content;
}

.music-search-container {
  width: 100%;
  margin: 0.5rem 0 2rem 0;
  display: flex;
  justify-content: flex-start;
}

#music-search-input {
  border: 0;
  padding: 0.5rem 1rem;
  width: 23rem;
  height: min-content;
  border-radius: 10px;
  font-size: 1.3em;
  background-color: #4c4c4c;
  float: left;
  color: white;
}

#music-search-input:focus {
  outline: 0;
  border: 0;
}

#music-search-send {
  margin: 0;
  line-height: 1em;
  padding: 0.6rem;
  color: white;
  font-size: 1.55em;
  border-radius: 50px;
  float: right;
  margin-left: 2rem;
  transition: all .2s ease;
}

#music-search-send:hover {
  background-color: #3b3b3b;
}

.music-playbar {
  margin: 0.5rem 0 2rem 0;
}

#music-time-played, #music-all-time {
  color: white;
  font-size: 1.15em;
  margin: 0 1rem;
}

#music-progress {
  width: 20rem;
  border: 0;
  appearance: none;
}

#music-progress::-webkit-progress-value {
  background-color: darkgrey;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

#music-progress::-webkit-progress-bar {
  background-color: #4c4c4c;
  border-radius: 5px;
}

.music-control-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.music-play-pause-button {
  padding: 0.5rem;
  transition: all .3s ease;
}

.music-play-pause-button i {
  color: lightgrey;
  font-size: 2em;
  transition: all .3s ease;
}

.music-play-pause-button:hover > i {
  color: white;
}

.music-stop-button {
  padding: 0.5rem;
  transition: all .3s ease;
}

.music-stop-button i {
  color: lightgrey;
  font-size: 2em;
  transition: all .3s ease;
}

.music-stop-button:hover > i {
  color: white;
}
