/* You can add global styles to this file, and also import other style files */
body {
  background-color: #333333;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  overflow-y: scroll;
}

.horizontal-select {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row;
  width: fit-content;
  border-radius: 10px;
  box-shadow: 0px 9px 25px -9px rgba(36,36,36,1);
  background-color: #1f4287;
}

.horizontal-select li {
  border-left: solid 1px #888888;
  border-right: solid 1px #888888;
  transition: all .2s ease;
  width: 13rem;
  padding: 0.8rem 0;
}

.horizontal-select li span {
  transition: all .2s ease;
  color: #DFDFDF;
  font-size: 1.15em;
  pointer-events: none;
  font-weight: 600;
  -webkit-user-select: none;
  display: flex;
  justify-content: center;
}

.horizontal-select li:hover {
  background-color: rgb(27, 56, 115);
}

.horizontal-select li:first-child {
  border-left: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.horizontal-select li:last-child {
  border-right: 0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

::-webkit-scrollbar {
  background-color: #4c4c4c;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb {
  background-color: #292929;
  border-radius: 25px;
}

.horizontal-select-selected {
  background-color: rgb(27, 56, 115);
}

.default-select {
  padding: 0.3rem 1rem;
  font-size: 1.15em;
  background-color: #202020;
  color: #DFDFDF;
  border-radius: 5px;
  -webkit-user-select: none;
}

.default-select.decorated option {
  padding: 0.2rem 0;
}

.default-select.decorated option:hover {
  box-shadow: 0 0 10px 100px #1f4287 inset;
}

.cloud-file-window {
  width: calc(100vw - 300px);
  display: flex;
  justify-content: center;
  align-self: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.cloud-file-window-container {
  margin-top: 3rem;
  padding: 2rem;
  border-radius: 10px;
  background-color: #202020;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}

.cloud-file-window-title {
  padding: 0 0 2rem 0;
  color: whitesmoke;
  font-size: 1.2em;
}

.cloud-file-window-title span {
  margin-right: 2rem;
}

#cloud-file-window-title {
  font-weight: 600;
}

.cloud-file-main-area {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}

.cloud-file-main-area-section {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.cloud-file-main-area-section {
  padding: 2rem 0;
  color: whitesmoke;
}

.cloud-file-main-area-section input {
  outline: 0;
  border: 0;
  padding: 0.4rem 0.8rem;
  color: #4c4c4c;
  font-size: 1.2em;
  font-weight: 600;
  background-color: whitesmoke;
  border-radius: 4px;
}

.cloud-file-main-area-section span {
  font-weight: 800;
  margin: 0 1.5rem 0 0;
  font-size: 1.2em;
}

.cloud-file-main-area input:focus {
  outline: 0;
}

.cloud-file-window-button-area {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0 0 0;
  flex-wrap: nowrap;
  flex-direction: row;
}

.cloud-file-button {
  padding: 0.5rem 2rem;
  background-color: #1d3b77;
  color: whitesmoke;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 5px;
  transition: all .15s ease;
  margin-left: 1.5rem;
  cursor: pointer;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

.cloud-file-button:hover {
  background-color: #1f4287;
}

.icn-button {
  padding: 0.5rem 3rem;
  background-color: #1d3b77;
  color: whitesmoke;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 6rem;
  transition: all .15s ease;
  cursor: pointer;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 0.25rem 0.5rem;
}

.icn-button span {
  text-wrap: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icn-button:hover {
  background-color: #1f4287;
}

.icn-button:focus {
  outline: 0;
}

.room-area {
  width: calc(100vw - 300px);
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.room-window {
  padding: 2rem;
  min-width: 30rem;
  max-width: 30rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #202020;
  border-radius: 10px;
}

.room-window-title {
  font-size: 1.2em;
  color: whitesmoke;
  font-weight: 600;
}

.room-window-main-area {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 2rem;
}

.room-window-main-area-element {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 2rem;
}

.room-window-main-area-element span {
  color: whitesmoke;
  font-weight: 600;
}

.room-window-main-area-element input[type="text"], .room-window-main-area-element input[type="number"] {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #4c4c4c;
  padding: 0.4rem;
  font-size: 1.2em;
  font-weight: 600;
  outline: 0;
  transition: all .15s ease;
  color: whitesmoke;
}

.room-window-main-area-element input[type="text"]:focus, .room-window-main-area-element input[type="number"]:focus {
  border-bottom: 2px solid #c8c8c8;
}

.room-window-main-area-element input[type="file"] {
  opacity: 0;
}

.room-window-main-area-element label {
  padding: 0.5rem 1.5rem;
  background-color: #1f4080;
  color: whitesmoke;
  font-weight: 600;
  transition: all .2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 5px;
  cursor: pointer;
}

.room-window-main-area-element label i {
  font-size: 1.7em;
}

.room-window-main-area-element label:hover {
  background-color: #1f4287;
}

.room-window-main-area-element-select {
  display: block;
  font-size: 1.2em;
  line-height: 1.3;
  padding: 0.3rem 0.8rem;
  box-sizing: border-box;
  margin: 0;
  min-width: 10rem;
  border-radius: 5px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-repeat: no-repeat, repeat;
  color: whitesmoke;
}
.room-window-main-area-element-select::-ms-expand {
  display: none;
}
.room-window-main-area-element-select:hover {
  border-color: #888;
}
.room-window-main-area-element-select:focus {
  outline: none;
}
.room-window-main-area-element-select option {
  background-color: #262626;
  color: whitesmoke;
}

.room-window-button-area {
  margin-top: 2rem;
}

.room-window-button-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
}

.room-window-button-list li {
  padding-left: 2rem;
  padding-right: 2rem;
}
.room-window-main-area-element input[type="number"] {
  width: 5rem;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #5a5a5a;
  transition: all .15s ease;
  color: whitesmoke;
  font-size: 1.2em;
  font-weight: 600;
  padding: 0.2rem;
}

.room-window-main-area-element input[type="number"]:focus {
  outline: 0;
  border-bottom: 2px solid #5e5e5e;
}

.room-window-main-area-element textarea {
  max-width: 16rem;
  min-width: 16rem;
  min-height: 2.5rem;
  transition: .2s;
  border: 1px #5e5e5e solid;
  border-radius: 10px;
  background-color: transparent;
  padding: .3rem;
  color: whitesmoke;
  font-size: 1.2em;
}

.room-window-main-area-element textarea:focus {
  border: 1px #6b6b6b solid;
  outline: 0;
}

